appdirs==1.4.4
astropy==7.1.0
astropy-iers-data==0.2025.6.9.14.9.37
astroquery==0.4.10
asttokens==3.0.0
atomicwrites==1.4.0
backports.weakref==1.0.post1
beautifulsoup4==4.13.4
black==25.1.0
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.2
CHSPy==1.2.3
click==8.1.8
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.2.1
docstring-to-markdown==0.17
et-xmlfile==1.1.0
executing==2.2.0
ffmpeg==1.4
Flask==3.0.3
fonttools==4.25.0
h5py==3.14.0
html5lib==1.1
idna==3.10
importlib_metadata==8.7.0
inflection==0.5.1
ipympl==0.9.4
ipython==8.37.0
ipython-genutils==0.2.0
ipywidgets==8.1.7
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
jedi==0.19.2
Jinja2==3.1.5
jitcdde==1.8.2
jitcxde_common==1.5.5
jsonpointer==2.1
jupyterlab_widgets==3.0.15
jwst_mast_query==0.0.6
keyring==25.6.0
kiwisolver==1.4.8
kneed==0.8.5
lxml==6.0.0
MarkupSafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
more-itertools==10.7.0
munkres==1.1.4
mypy_extensions==1.1.0
nest-asyncio==1.6.0
numexpr==2.11.0
numpy==2.2.1
openpyxl==3.0.10
packaging==24.2
parso==0.8.4
pathspec==0.12.1
patsy==0.5.3
pexpect==4.9.0
photutils==2.2.0
pillow==11.3.0
platformdirs==4.3.8
plotly==5.24.1
pluggy==1.6.0
ply==3.11
poppy==1.1.2
prompt_toolkit==3.0.51
protobuf==3.20.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyerfa==2.0.1.5
Pygments==2.19.2
pyls-spyder==0.4.0
pyparsing==3.2.3
PyQt5==5.15.10
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.17
pysiaf==0.24.1
python-dateutil==2.9.0.post0
python-lsp-jsonrpc>=1.1.0,<2.0.0
python-lsp-server==1.13.0
pyvo==1.7
PyYAML==6.0.2
requests==2.32.4
retrying==1.3.4
scipy==1.14.1
sep==1.4.1
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
stack-data==0.6.3
stpsf==2.0.0
symengine==0.14.1
synphot==1.5.0
tenacity==9.0.0
traitlets==5.14.3
typing_extensions==4.14.1
ujson==5.10.0
urllib3==2.5.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.6
widgetsnbextension==4.0.14
zipp==3.23.0
